.bovenbalk {
    display: flex;
    background-color: #333;
    color: white;
    justify-content: space-between;
  }
  
  .bovenbalk .menuRight {
    padding: 10px;
    display: flex;
  }
  
  #productAmount{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
  }
  
  .bovenbalk .menuLeft {
    padding: 10px;
  }
  
  .onderbalk {
    display: flex;
    background-color: #f5f5f7;
    justify-content: space-between;
  }
  
  .onderbalk .menuRight {
    padding: 100px;
    padding-top: 25px;
  }
  
  .onderbalk .menuLeft {
    padding: 10px;
  }
  
  .onderbalk img{
    width: 65px;
    min-width: 65px;
  }
  
  .onderbalk .menuRight {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: space-between;
    height: 40px;
    margin-right: 10px;
    margin-top: 22px;
  }
  
  .menuRight:hover {
    background-color: #555;
    color: white;
  }
  
  .onderbalk input{
    height: 40px;
    margin-top: 22px;
    margin-right: 10px;
  }
  
  .item img {
    height: 50%;
    width: auto;
  }