* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f7;
    color: #333;
}

.content {
    display: flex;
}

main {
    background: #ffffff;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: #ffffff;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2,
h3 {
    color: #007bff;
}

p {
    font-size: 14px;
    color: #555;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.bold {
    font-weight: bold;
    margin-bottom: 5px;
}

.checkout-btn{
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.highlight {
    color: #ff6600;
    font-weight: bold;
}

.linksOnder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    width: 50%;
    background-color: #e0e0e0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    gap: 50px;
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1000px;
    /* max-height: 200px; */
    min-width: 1000px;
    height: 250px;
    background-color: #dedcdc;
    padding: 1em;
    font-weight: 700;
    color: black;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px;
}

.links{

    background-color: #dedcdc;
    justify-content: left;
    width: 190px;
    height: auto;
    margin-top: 10px;
}

.links img{
    width: 180px;
}

.midden {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
    padding: 5px;
}

.rechts {
    text-align: center;
    justify-content:  right;
    background-color: #dedcdc;
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
    padding: 5px;
}

.description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.product:hover {
  box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.1);
  color: black;
}


.removeProduct{
  background-color: #007bff;
  border: 2px solid blue;
  color: white;
  font-size:  16px;
  border-radius: 20px;
  width: 200px;
  height: 30px;
}

.removeProduct:hover{
    background-color: #588afc;
}


.kosten{
    justify-content: space-evenly;
    max-width: 1000px;
    min-width: 1000px;
    height: 250px;
    background-color: #dedcdc;
    padding: 1em;
    font-weight: 700;
    color: black;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 10px;
}


.product-line {
display: flex;
justify-content: space-between;
border-bottom: 1px solid #eee;
padding: 8px 0;
}


.total-section {
display: flex;
justify-content: space-between;
margin-top: 25px;
font-size: 1.1em;
color: black;
}

.total-section p{
    color: black;
    font-size: 20px;
}

.prices{
    justify-content: left;
}

.checkout-btn {
width: 200px;
justify-content: right;
margin-top: 15px;
padding: 10px 20px;
background-color: #007bff;
border: 2px solid blue;
color: white;
border-radius: 20px;
cursor: pointer;
}

.checkout-btn:hover{
    background-color: #588afc;
}

